.modal-dialog
  .modal-content
    .modal-header
      %button.close{type: 'button', data: {dismiss: 'modal'}}
        %span{aria: {hidden:'true'}} &times;
        %span.sr-only= t(:actions)[:close]
      %h4#changeParticipantArm.modal-title.text-center= t(:notes)[:index_header]
    .modal-body
      #notes_index
        %table.notes{id: "notes-table", data: {toggle: 'table', url: "/procedures/#{procedure.id}/notes.json", striped: "true", show: {columns: "true", refresh: "true", toggle: "true"}}}
          %thead
            %tr
              %th{data: {align: "left", sortable: "true", field: "user"}}= t(:notes)[:user]
              %th{data: {align: "left", sortable: "true", field: "created_at"}}= t(:notes)[:date]
              %th{data: {align: "left", sortable: "true", field: "action"}}= t(:notes)[:action]
              %th{data: {align: "left", sortable: "true", field: "comment"}}= t(:notes)[:note]
    .modal-footer
      .center-block{style: "width: 205px;"}
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t(:actions)[:close]