.modal-dialog
  .modal-content
    = form_for [procedure, note], {remote: true, html: {class: "form-horizontal", role: "form", method: "post"}} do |p|
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden:'true'}} &times;
          %span.sr-only= t(:actions)[:close]
        %h4.modal-title.text-center= t(:notes)[:new_header]
      .modal-body
        .form-group{style: "padding: 0px 100px 0px 100px;"}
          = p.text_area(:comment, size: "50x10")
      .modal-footer
        .center-block{style: "width: 205px;"}
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t(:actions)[:close]
          %input.btn.btn-primary{type: 'submit', value: t(:actions)[:save]}