-# Copyright © 2011-2020 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.alert.alert-warning.mb-0.rounded-0.border-bottom
  %p.text-warning.mb-0
    = icon('fas', 'exclamation-circle mr-1')
    = t(:line_item)[:edit_clincal_services_in_sparc]
-# Infrastructure for managing calendar and services edits still exists, but is commented out here in favor of these edits being made solely in SPARCDashboard.
-##study_schedule_buttons{ data: { protocol_id: protocol.id } }
  -#.row
    -#.col-sm-4.col-md-4.text-center.h5
      -#=t(:protocol)[:study_schedule][:manage_arms]
      -##manage_arms.mt-1
        -#= link_to new_arm_path(protocol_id: protocol.id, schedule_tab: tab), remote: true, class: 'btn btn-success btn-sm mr-1', title: t('protocol.study_schedule.add_arm'), type: 'button', aria: { label: 'Add Arm' }, data: { toggle: 'tooltip', animation: 'false' } do
          -#= icon('fas', 'plus')
        -#= link_to navigate_arms_path(protocol_id: protocol.id, intended_action: 'destroy'), remote: true, class: 'btn btn-danger btn-sm mr-1', title: t('protocol.study_schedule.remove_arm'), type: 'button', aria: { label: 'Remove Arm' }, data: { toggle: 'tooltip', animation: 'false' } do
          -#= icon('fas', 'minus')
        -#= link_to navigate_arms_path(protocol_id: protocol.id, intended_action: 'edit'), remote: true, class: 'btn btn-warning btn-sm', title: t('protocol.study_schedule.edit_arm'), type: 'button', aria: { label: 'Edit Arm' }, data: { toggle: 'tooltip', animation: 'false' } do
          -#= icon('fas', 'edit')

    -#.col-sm-4.col-md-4.text-center.h5
      -#=t(:protocol)[:study_schedule][:manage_visits]
      -##manage_visit_groups.mt-1
        -#= link_to 'javascript:;', id: 'add_visit_group_button', class: 'btn btn-success btn-sm mr-1', title: t('protocol.study_schedule.add_visit_group'), type: 'button', aria: { label: 'Add Visit Group' }, data: { toggle: 'tooltip', animation: 'false' } do
          -#= icon('fas', 'plus')
        -#= link_to 'javascript:;', id: 'remove_visit_group_button', class: 'btn btn-danger btn-sm mr-1', title: t('protocol.study_schedule.remove_visit_group'), type: 'button', aria: { label: 'Remove Visit Group' }, data: { toggle: 'tooltip', animation: 'false' } do
          -#= icon('fas', 'minus')
        -#= link_to 'javascript:;', id: 'edit_visit_group_button', class: 'btn btn-warning btn-sm', title: t('protocol.study_schedule.edit_visit_group'), type: 'button', aria: { label: 'Edit Visit Group' }, data: { toggle: 'tooltip', animation: 'false' } do
          -#= icon('fas', 'edit')
    -#.col-sm-4.col-md-4.text-center.h5
      -#=t(:protocol)[:study_schedule][:manage_services]
      -##manage_services.mt-1
        -#= link_to 'javascript:;', id: 'add_service_button', class: 'btn btn-success btn-sm mr-1', title: t('protocol.study_schedule.add_service'), type: 'button', aria: { label: 'Add Service' }, data: { toggle: 'tooltip', animation: 'false' } do
          -#= icon('fas', 'plus')

        -#= link_to 'javascript:;', id: 'remove_service_button', class: 'btn btn-danger btn-sm', title: t('protocol.study_schedule.remove_service'), type: 'button', aria: { label: 'Remove Service' }, data: { toggle: 'tooltip', animation: 'false' } do
          -#= icon('fas', 'minus')
