GLOBAL_SCHEME=http
SPARC_API_HOST=localhost:5000
SPARC_API_VERSION=v1
SPARC_API_USERNAME=iyqu2bm3T4rDWWpnwYfEl2i6o2Sphpuq_TKvFnIOTA0
SPARC_API_PASSWORD=qL1oZmdMi7OU7G1f0q6aCTVR6HrmoNmpZVNc8DfHqek
FAYE_TOKEN=3bd16424a2154769a1fb4adc081b10747bdbfdbd93682032
CWF_FAYE_HOST=localhost:9292
DOCUMENTS_FOLDER=documents
USE_SHIBBOLETH_ONLY=false
INCLUDE_LDAP_AUTHENTICATION=true
LDAP_HOST=authldap.musc.edu
LDAP_PORT=636
LDAP_BASE=ou=people,dc=musc,dc=edu
LDAP_ENCRYPTION=simple_tls
LDAP_USER_DOMAIN=@musc.edu
# for LDAP service accounts, remove these keys if you're not using them
LDAP_AUTH_USERNAME=
LDAP_AUTH_PASSWORD=