%h1 Task List
%table.tasks.custom_striped{id: "task-list", data: {toggle: 'table', search: "true", "show-columns" => "true", "show-refresh" => "true", "show-toggle" => "true", url: "/tasks.json", "sort-name" => "due_date", "sort-order" => 'asc', striped: "true"}}
  %thead
    %tr
      %th{data: {class: 'created_by', align: 'left', sortable: "true", field: 'created_by'}}= t(:task_index)[:created_by]
      %th{data: {class: 'task_type', align: 'left', sortable: "true", field: 'task_type'}}= t(:task_index)[:task_type]
      %th{data: {class: 'is_complete', align: 'center', field: 'is_complete'}}= t(:task_index)[:completed]
      %th{data: {class: 'participant_name', align: 'left', sortable: "true", field: 'participant_name'}}= t(:task_index)[:participant_name]
      %th{data: {class: 'protocol_id', align: 'center', sortable: "true", field: 'protocol_id'}}= t(:task_index)[:protocol_id]
      %th{data: {class: 'visit_name', align: 'left', sortable: "true", field: 'visit_name'}}= t(:task_index)[:visit_name]
      %th{data: {class: 'arm_name', align: 'left', sortable: "true", field: 'arm_name'}}= t(:task_index)[:arm_name]
      %th{data: {class: 'task', align: 'left', sortable: "true", field: 'task'}}= t(:task_index)[:task]
      %th{data: {class: 'assignment', align: 'left', sortable: "true", field: 'assignment'}}= t(:task_index)[:assignment]
      %th{data: {class: 'due_date', align: 'left', sortable: "true", field: 'due_date'}}= t(:task_index)[:due_date]
      %th{data: {class: 'reschedule', align: 'center', field: 'reschedule', formatter: "rescheduleFormatter", width: "5"}}= t(:task_index)[:reschedule]