#tasks_index
  .row
    .col-md-12
      = render 'tasks'

- content_for :nav_buttons do
  %li
    = link_to tasks_path do
      %span.glyphicon.glyphicon-list-alt{aria: {hidden: "true"}}
      Tasks
      %span.notification.tasks
        = current_user.tasks_count
