.row.line_item_container{data: {id: line_item.id}}
  = render partial: "/study_level_activities/one_time_fee", locals: {line_item: line_item}
  = render partial: "/study_level_activities/fulfillments_table", locals: {line_item: line_item}
  .row.border