%h3= "Appointment: #{appointment.id}"
%br
%br
.calendar.participant
  .row.header
    .col-xs-2.text-center=t(:appointment)[:procedure]
    .col-xs-1.text-center=t(:appointment)[:r_t]
    .col-xs-2.text-center=t(:appointment)[:status]
    .col-xs-2.text-center=t(:appointment)[:incompletion]
    .col-xs-2.text-center=t(:appointment)[:follow_up]
    .col-xs-2.text-center=t(:appointment)[:notes]
    .col-xs-1.text-center=t(:appointment)[:remove]
  .row.core
  -appointment.procedures.each do |proc|
    = proc.service_name + ': ' + proc.billing_type
    %br