.row
  .col-md-12
    #appointment_select
      %span= t(:appointment)[:appointment_dropdown]
      %select.selectpicker#appointment_select
        %option{value: -1} Please Select
        - arms_for_appointments(participant.appointments).each do |arm|
          %option{:disabled => true, :style => 'font-weight:bold;'}= arm.name.humanize + ':'
          = options_from_collection_for_select(appointments_for_select(arm, participant), 'id', 'name')
          %option{'data-divider' => true, :disabled => true}
