.row
  .col-md-12
    = hidden_field_tag :participant_id, participant.id
    .fixed-table-container
      %table.participant.details.custom_striped{id: "participant-info", data: {toggle: 'table', url: "/protocols/#{protocol.id}/participants/#{participant.id}.json"}}
        %thead
          %tr
            %th{data: {align: "left", sortable: "true", field: "id", visible: "false"}}= t(:participant)[:id]
            %th{data: {align: "left", sortable: "true", field: "name"}}= t(:participant)[:full_name]
            %th{data: {align: "left", sortable: "true", field: "mrn"}}= t(:participant)[:mrn]
            %th{data: {align: "left", sortable: "false", field: "arm"}}= t(:participant)[:arm]
            %th{data: {align: "left", sortable: "true", field: "status"}}= t(:participant)[:status]
            %th{data: {align: "left", sortable: "true", field: "protocol_sparc_id"}}= t(:appointment)[:protocol_id]
            %th{data: {class: "coordinators", align: "left", sortable: "false", field: "coordinators"}}= t(:index_page)[:coordinators]
            %th{data: {class: "coordinators", align: "left", sortable: "false", field: "recruitment_source"}}= t(:participant)[:recruitment_source]
            %th{data: {class: 'edit', align: "center", field: "edit", formatter: "editFormatter", width: "5"}}= t(:actions)[:edit]
