-# Copyright © 2011-2018 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

%h3= t(:patient)[:registry]
#custom-toolbar
  %button.btn.btn-primary.new-participant{type: "button", aria: {label: "Create Participant"}}=t(:participant)[:new_participant]
.bootstrap-table-dropdown-overflow
  #patient_registry
    %table.participants.custom_striped{id: "patient-registry-table", data: {toggle: 'table', search: "true", "trim-on-search" => "false",  "show-columns" => "true", "show-refresh" => "true", "show-toggle" => "true", url: participants_path(format: :json), "page_size" => @limit, "pagination" => "true", "side-pagination" => "server", "sort-name" => "last_name", "sort-order" => 'asc', cookie: "true", "cookie-id-table" => "patient-registry-table", striped: "true", toolbar: "#custom-toolbar", "show-export" => "true", "export-types" => ['excel'], "checkbox-header": "false"}}
      %thead
        %tr
          %th{data: {class: 'last_name truncate', align: "left", sortable: "true", field: "last_name"}}= t(:participant)[:last_name]
          %th{data: {class: 'first_name truncate', align: "left", sortable: "true", field: "first_middle"}}= t(:participant)[:first_name]
          %th{data: {class: 'mrn truncate', align: "left", sortable: "true", field: "mrn"}}= t(:participant)[:mrn]
          %th{data: {class: 'date_of_birth truncate', align: "left", sortable: "true", field: "date_of_birth"}}= t(:participant)[:dob]  
          %th{data: {class: 'deidentified truncate', align: "left", sortable: "true", field: "deidentified", visible: "true"}}= t(:participant)[:deidentified] 
          %th{data: {class: 'recruitment_source', align: "left", sortable: "true", field: "recruitment_source", visible: "false"}}= t(:participant)[:recruitment_source]
          %th{data: {class: 'details', align: "center", field: "details"}}= t(:actions)[:details]
          %th{data: {class: 'edit', align: "center", field: "edit"}}= t(:actions)[:edit]
          %th{data: {class: 'delete', align: "center", field: "delete"}}= t(:actions)[:delete]