= render partial: 'participant', locals: { protocol: @protocol, participant: @participant }
= render partial: 'dashboard', locals: { protocol: @protocol, participant: @participant }
= render partial: 'calendar', locals: { protocol: @protocol, participant: @participant }
%h3 Appointments
