= render partial: 'participant_info', locals: { protocol: @protocol, participant: @participant }
= render partial: 'dashboard', locals: { protocol: @protocol, participant: @participant }
= render partial: 'dropdown', locals: { protocol: @protocol, participant: @participant }

.appointments

- content_for :nav_buttons do
  %li
    = button_to :back, method: :get, class: "btn btn-primary navbar-btn" do
      %span.glyphicon.glyphicon-arrow-left{"aria-hidden" => "true"}
      Back
