.participants
  = render partial: 'participant', locals: { protocol: @protocol, participant: @participant }
  = render partial: 'dashboard', locals: { protocol: @protocol, participant: @participant }
  = render partial: 'appointments_dropdown', locals: { protocol: @protocol, participant: @participant }

  #participant_calendar

