= render partial: 'participant_info', locals: { protocol: @protocol, participant: @participant }
= render partial: 'dashboard', locals: { protocol: @protocol, participant: @participant }
.row.appointment-select= render partial: 'dropdown', locals: { participant: @participant }

.row.appointments

- if @appointment_id
	:javascript
		window.onload = function() {
			$("#appointment_select.selectpicker").selectpicker('val', "#{ @appointment_id }");
			$("#appointment_select.selectpicker").trigger("change");
		};