%tr
  %th.service-name.text-center{ colspan: 10, rowspan: 2 }
    = t(:line_item)[:service]
  %th.visit-group-select.text-center{ colspan: 24 }
    = render 'study_schedule/visit_group_page_select', arm: arm, page: page
