.row
  .col-md-12
    .page-header
      %h1
        %i.glyphicon.glyphicon-equalizer
        Reports
.row
  .col-md-12
    .page-header
      %h3
        = t(:reports)[:page_title]
.row.report-buttons
  .col-md-3
    %button.btn-block.new_report.btn.btn-primary{ data: { type: "billing_report" } }
      %i.glyphicon.glyphicon-equalizer
      Billing Report
  .col-md-3
    %button.btn-block.new_report.btn.btn-primary{ data: { type: "auditing_report" } }
      %i.glyphicon.glyphicon-equalizer
      Auditing Report
  .col-md-3
    %button.btn-block.new_report.btn.btn-primary{ data: { type: "project_summary_report" } }
      %i.glyphicon.glyphicon-equalizer
      Project Summary Report
  .col-md-3
    %button.btn-block.new_report.btn.btn-primary{ data: { type: "incomplete_visit_report" } }
      %i.glyphicon.glyphicon-equalizer
      Incomplete Visit Report
-# Bootstrap should provide spacing between rows and so the following empty row shouldn't be necessary      
.row 
  .col-md-12
.row.report-buttons
  .col-md-3
    %button.btn-block.new_report.btn.btn-primary{ data: { type: "service_provider_report" } }
      %i.glyphicon.glyphicon-equalizer
      Service Provider Report
.row
  .col-md-12
    = render "documents"
