.row
  .col-md-12
    .page-header
      %h1
        %i.glyphicon.glyphicon-equalizer
        Reports
.row
  .col-md-12
    .page-header
      %h3 Reports
.row.report-buttons
  .col-md-4
    %button.btn-block.new_report.btn.btn-primary{ data: { title: "billing_report" } }
      %i.glyphicon.glyphicon-equalizer
      Billing Report
  .col-md-4
    %button.btn-block.new_report.btn.btn-primary{ data: { title: "auditing_report" } }
      %i.glyphicon.glyphicon-equalizer
      Auditing Report
  .col-md-4
    %button.btn-block.new_report.btn.btn-primary{ data: { title: "project_summary_report" } }
      %i.glyphicon.glyphicon-equalizer
      Project Summary Report
.row
  .col-md-12
    = render "documents"
