============= WARNING FROM mysql2 =============
The options :user, :pass, :hostname, :dbname, :db, and :sock will be deprecated at some point in the future.
Instead, please use :username, :password, :host, :port, :database, :socket, :flags for the options.

development:
  username: root
  adapter: mysql2
  encoding: utf8
  database: cwf_development
  pool: 5
  timeout: 5000

test: &test
  adapter: mysql2
  encoding: utf8
  database: cwf_test
  pool: 5
  timeout: 5000