octopus:
  environments:
    - test
    - development
    - testing
    - staging
    - production
  development:
    sparc:
      adapter: mysql2
      username: root
      database: sparc-request_development
  test: # configured for travis-ci
    sparc:
      adapter: mysql2
      username: travis
      database: test_sparc_request # for travis-ci, needs to match sparc-request test database name
