#study_schedule_buttons
  .row
    .col-md-4.text-center
      =t(:study_schedule_tab)[:buttons][:arm]
      = link_to '', new_arm_path(protocol), {class: 'btn btn-success glyphicon glyphicon-plus ', id: '#add_arm_button', type: 'button',"data-toggle" => 'modal', "data-target" => '#arm_modal', remote: true}
      %a.btn.btn-danger
        %span.glyphicon.glyphicon-remove#remove
      %div
        = select_tag 'arms', options_from_collection_for_select(protocol.arms, 'id' , 'name'), :class => 'selectpicker', :'data-protocol_id' => protocol.id
    .col-md-4.text-center
      =t(:study_schedule_tab)[:buttons][:visit]
      %a.btn.btn-success
        %span.glyphicon.glyphicon-plus#add_visit
      %a.btn.btn-danger
        %span.glyphicon.glyphicon-remove#remove_visit
      %div
        %select.selectpicker#visits
    .col-md-4.text-center
      =t(:study_schedule_tab)[:buttons][:services]
      %a.btn.btn-success
        %span.glyphicon.glyphicon-plus#add_service
      %a.btn.btn-danger
        %span.glyphicon.glyphicon-remove#remove_service
      %div
        = select_tag 'services', options_from_collection_for_select(services, 'id', 'name'), :class => 'selectpicker'
.modal.fade#arm_modal{"aria-hidden" => true}
  #arm_form
