.row
  .col-md-4
    %a.btn.btn-primary
      %span.glyphicon.glyphicon-plus
    %a.btn.btn-primary
      %span.glyphicon.glyphicon-remove
  .col-md-4
    Visit
    %a.btn.btn-primary
      %span.glyphicon.glyphicon-plus
    %a.btn.btn-primary
      %span.glyphicon.glyphicon-remove
  .col-md-4
    Services
    %a.btn.btn-primary
      %span.glyphicon.glyphicon-plus
    %a.btn.btn-primary
      %span.glyphicon.glyphicon-remove
.row
  .col-md-4
    %select.selectpicker#arms{"data-id" => @protocol.sparc_id, "data-arm_id" => @selected_arm.id}= arms_for_select(@protocol, @selected_arm)
  .col-md-4
    %select.selectpicker#arms= visit_groups_for_select(@selected_arm, @selected_visit_group)
  .col-md-4
    %select.selectpicker#arms= services_for_select
    /   -selected_arm =
    / -puts selected_arm.name
  / .col-md-4
  /   %select.selectpicker#visits= select_visit_groups(selected_arm)
  / .col-md-4
  /   %select.selectpicker#services= options_for_select(services, services.first.name)



