.row
  .col-md-4
    %a.btn.btn-primary
      %span.glyphicon.glyphicon-plus
    %a.btn.btn-primary
      %span.glyphicon.glyphicon-remove
  .col-md-4
    Visit
    %a.btn.btn-primary
      %span.glyphicon.glyphicon-plus
    %a.btn.btn-primary
      %span.glyphicon.glyphicon-remove
  .col-md-4
    Services
    %a.btn.btn-primary
      %span.glyphicon.glyphicon-plus
    %a.btn.btn-primary.glyphicon-remove
.row
  .col-md-4
    -#%button.btn.btn-default.dropdown-toggle{data: {toggle: "dropdown"}, type: "button", id: "arms_for_select"}
    %select.selectpicker= arms_for_select(protocol, selected_arm)
  .col-md-4
    / %select.selectpicker= select_visit_groups(selected_arm)
  / / .col-md-4
  / /   %select.selectpicker= options_for_select(services, services.first.name)



