-# Copyright © 2011-2020 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

- disabled = !fulfillment.invoiced? || fulfillment.credited?
- if !fulfillment.invoiced?
  - tooltip = t('fulfillment.tooltips.invoiced_date.disabled')
- if fulfillment.credited?
  - tooltip = t('fulfillment.tooltips.credited.disabled')
.tooltip-wrapper{ title: tooltip, data: { toggle: disabled ? 'tooltip' : '' } }
  = form_for fulfillment, url: fulfillment_path(id: fulfillment.id), remote: true, method: :put do |f|
    .input-group.datetimepicker.date.fulfillment-invoiced-date-datepicker{ id: "fulfillment#{fulfillment.id}InvoicedDatePicker", data: { target_input: 'nearest' } }
      = f.text_field :invoiced_date, class: 'datetimepicker-input form-control', value: format_date(fulfillment.invoiced_date), disabled: disabled, data: { target: "#fulfillment#{fulfillment.id}InvoicedDatePicker" }
