%h3 Participant List
%table{"data-toggle" => 'table', "data-search" => "true", "data-select-item-name" => "toolbar1", "data-show-columns" => "true", "data-show-refresh" => "true", "data-show-toggle" => "true", "data-url" => "/protocols/#{@protocol.id}/show.json", "data-sort-name" => 'last_name', "data-sort-order" => 'asc', "data-striped" => "true", "data-height" => "400"}
  %thead
    %tr
      %th{"data-align" => "right", "data-sortable" => "true", "data-field" => "last_name"} Last Name
      %th{"data-align" => "left", "data-sortable" => "true", "data-field" => "first_name"} First Name
      %th{"data-align" => "left", "data-sortable" => "true", "data-field" => "mrn"} MRN
      %th{"data-align" => "left", "data-sortable" => "true", "data-field" => "status"} Patient Status
      %th{"data-align" => "left", "data-sortable" => "true", "data-field" => "date_of_birth"} Date of Birth
      %th{"data-align" => "left", "data-sortable" => "true", "data-field" => "gender"} Gender
      %th{"data-align" => "left", "data-sortable" => "true", "data-field" => "ethnicity"} Ethnicity
%button.btn.btn-default{type: 'button', "data-toggle" => 'modal', "data-target" => '#newParticipantForm'} Create New Participant
.modal.fade#newParticipantForm{tabindex: '-1', role: 'dialog', "aria-labelledby" => "CreateNewParticipant", "aria-hidden" => 'true'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', "data-dismiss" => 'modal'}
          %span{"aria-hidden" => 'true'} &times;
          %span.sr-only Close
        %h4.modal-title#CreateNewParticipant Create New Participant
      .modal-body
        Body Here
      .modal-footer
        %button.btn.btn-default{type: 'button', "data-dismiss" => 'modal'} Close
        %button.btn.btn-primary{type: 'button'} Save Changes