%h3= t(:participant)[:tracker]
#participant_tracker
  %table.participants{id: "participants-tracker-table", data: {toggle: 'table', search: "true", height: "400", url: "/participants.json?protocol_id=#{protocol.id}", striped: "true", show: {columns: "true", refresh: "true", export: "true", toggle: "true"}, export: {types: ['excel','csv']}, select: {item: {name: "toolbar1"}}, sort: {name: 'last_name', order: 'asc'}}}
    %thead
      %tr
        %th{data: {class: 'calendar', align: "center", width: "5", field: "calendar"}}= t(:participant)[:calendar]
        %th{data: {class: 'report', align: "center", width: "5", field: "report"}}= t(:participant)[:report]
        %th{data: {class: 'change_arm', align: "center", width: "5", field: "chg_arm"}}= t(:actions)[:change_arm]
        %th{data: {class: 'last_name', align: "left", sortable: "true", field: "last_name"}}= t(:participant)[:last_name]
        %th{data: {class: 'first_name', align: "left", sortable: "true", field: "first_middle"}}= t(:participant)[:first_name]
        %th{data: {class: 'mrn', align: "left", sortable: "true", field: "mrn"}}= t(:participant)[:mrn]
        %th{data: {class: 'arm_name', align: "left", sortable: "true", field: "arm_name"}}= t(:participant)[:arm]
        %th{data: {class: 'status', align: "left", sortable: "true", field: "status"}}= t(:participant)[:status]
        %th{data: {class: 'recruitment_source', align: "left", sortable: "true", field: "recruitment_source", visible: "false"}}= t(:participant)[:recruitment_source]
