-# Copyright © 2011-2016 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

%h3= t(:participant)[:tracker]
#custom-toolbar
  %button.btn.btn-primary.new-participant{type: "button", data: {protocol_id: protocol.id}, aria: {label: "Create Participant"}}=t(:participant)[:new_participant]
#participant_tracker
  %table.participants{id: "participants-tracker-table", data: {toggle: 'table', search: "true", toolbar: '#custom-toolbar', url: participants_path(protocol_id: protocol.id, format: :json), striped: "true", height: "400", sort: {name: 'last_name', order: 'asc'}, show: {columns: "true", refresh: "true", toggle: "true", export: "true"}, export: {types: ['excel']}, select: {item: {name: "toolbar1"}}}}
    %thead.primary-header
      %tr
        %th{data: {class: 'calendar', align: "center", field: "calendar"}}= t(:participant)[:calendar]
        %th{data: {class: 'participant_report', align: "center", field: "participant_report"}}= t(:participant)[:participant_report]
        %th{data: {class: 'change_arm', align: "center", width: "95", field: "chg_arm"}}= t(:arm)[:change_arm]
        %th{data: {class: 'last_name truncate', align: "left", sortable: "true", field: "last_name"}}= t(:participant)[:last_name]
        %th{data: {class: 'first_name truncate', align: "left", sortable: "true", field: "first_middle"}}= t(:participant)[:first_name]
        %th{data: {class: 'mrn truncate', align: "left", sortable: "true", field: "mrn"}}= t(:participant)[:mrn]
        %th{data: {class: 'external_id truncate', align: "left", sortable: "true", field: "external_id"}}= t(:participant)[:id]
        %th{data: {class: 'arm_name truncate', align: "left", sortable: "true", field: "arm_name"}}= t(:participant)[:arm]
        %th{data: {class: 'status', align: "left", sortable: "true", field: "statusDropdown"}}= t(:participant)[:status]
        %th{data: {class: 'notes', align: "center", field: "notes"}}= t(:participant)[:notes]
        %th{data: {class: 'recruitment_source', align: "left", sortable: "true", field: "recruitment_source", visible: "false"}}= t(:participant)[:recruitment_source]
        %th{data: {class: 'details', align: "center", field: "details"}}= t(:actions)[:details]
        %th{data: {class: 'edit', align: "center", field: "edit"}}= t(:actions)[:edit]
        %th{data: {class: 'delete', align: "center", field: "delete"}}= t(:actions)[:delete]
