%h3= t(:participant)[:tracker]
#participant_tracker
  %table.participants{id: "participants-tracker-table", data: {toggle: 'table', search: "true", height: "400", url: "/protocols/#{@protocol.id}/participants.json", striped: "true", show: {columns: "true", refresh: "true", export: "true", toggle: "true"}, export: {types: ['excel','csv']}, select: {item: {name: "toolbar1"}}, sort: {name: 'last_name', order: 'asc'}}}
    %thead
      %tr
        %th{data: {class: 'calendar', align: "center", formatter: "calendarFormatter", width: "5"}}= t(:participant)[:calendar]
        %th{data: {class: 'report', align: "center", formatter: "statsFormatter", width: "5"}}= t(:participant)[:report]
        %th{data: {class: 'change_arm', align: "center", formatter: "changeArmFormatter", width: "5"}}= t(:actions)[:change_arm]
        %th{data: {class: 'last_name', align: "left", sortable: "true", field: "last_name", formatter: "nameFormatter"}}= t(:participant)[:last_name]
        %th{data: {class: 'first_name', align: "left", sortable: "true", field: "first_name", formatter: "nameFormatter"}}= t(:participant)[:first_name]
        %th{data: {class: 'mrn', align: "left", sortable: "true", field: "mrn"}}= t(:participant)[:mrn]
        %th{data: {class: 'arm_name', align: "left", sortable: "true", field: "arm_name"}}= t(:participant)[:arm]
