%h3= t(:participant)[:tracker]
#participant_tracker
  %table{id: "participants-tracker-table", data: {toggle: 'table', search: "true", height: "400", url: "/protocols/#{@protocol.id}/participants.json", striped: "true", show: {columns: "true", refresh: "true"}, sort: {name: 'last_name', order: 'asc'}}}
    %thead
      %tr
        %th{data: {align: "left", sortable: "true", field: "last_name", formatter: "nameFormatter"}}= t(:participant)[:last_name]
        %th{data: {align: "left", sortable: "true", field: "first_name", formatter: "nameFormatter"}}= t(:participant)[:first_name]
        %th{data: {align: "left", sortable: "true", field: "mrn"}}= t(:participant)[:mrn]
        %th{data: {align: "left", sortable: "true", field: "arm_id"}}= t(:participant)[:arm]
        %th{data: {align: "center", events: "operateEvents", formatter: "calendarFormatter", width: "5"}}= t(:participant)[:calendar]
        %th{data: {align: "center", events: "operateEvents", formatter: "statsFormatter", width: "5"}}= t(:participant)[:stats]
        %th{data: {align: "center", events: "operateEvents", formatter: "changeArmFormatter", width: "5"}}= t(:actions)[:change_arm]

.modal.fade#changeArmModal{tabindex: '-1', role: 'dialog', aria: {labelledby: "changeParticipantArm", hidden: 'true'}}
  #changeArmModalPlace