%h3=  t(:protocol)[:tabs][ (is_protocol_type_study? (protocol)) ? :study_level_activities : :project_level_activities]  
= render partial: "/study_level_activities/study_level_activities_table", locals: {protocol: protocol}
