study schedule tab
= render :partial => 'protocols/study_schedule/schedule_edit_buttons', locals: {protocol: @protocol, selected_arm: @selected_arm, services: @services, selected_visit_group: @selected_arm.visit_groups.first}
= render :partial => 'protocols/study_schedule/calendar'
