#protocols_index
  .row
    #custom-toolbar
      = select_tag 'index_selectpicker', options_for_select(Protocol::STATUSES, 'All'), class: 'selectpicker'
    %table.protocols.custom_striped{id: "protocol-list", data: {toggle: 'table', search: "true", "show-columns" => "true", "show-refresh" => "true", "show-toggle" => "true", url: "/protocols.json", "sort-name" => "sparc_id", "sort-order" => 'asc', striped: "true", toolbar: "#custom-toolbar", "show-export" => "true", "export-types" => ['excel', 'csv']}}
      %thead
        %tr
          %th{data: {align: 'left', field: 'updates'}}= t(:index_page)[:updates]
          %th{data: {align: 'left', sortable: "true", field: 'sparc_id'}}= t(:index_page)[:sparc_id]
          %th{data: {align: 'left', sortable: "true", field: "status"}}= t(:index_page)[:status]
          %th{data: {align: 'left', sortable: "true", field: "short_title"}}= t(:index_page)[:short_title]
          %th{data: {align: 'left', sortable: "true", field: ""}}= t(:index_page)[:principal_investigator]
          %th{data: {align: 'left', sortable: "true", field: "coordinators"}}= t(:index_page)[:coordinators]
          %th{data: {align: 'center', sortable: "true", field: "irb_approval_date"}}= t(:index_page)[:irb_approval_date]
          %th{data: {align: 'center', sortable: "true", field: "irb_expiration_date"}}= t(:index_page)[:irb_expiration_date]
          %th{data: {align: 'center', sortable: "true", field: "irb_status"}}= t(:index_page)[:irb_status]
          %th{data: {align: 'center', sortable: "true", field: "start_date"}}= t(:index_page)[:start_date]
          %th{data: {align: 'center', sortable: "true", field: "end_date"}}= t(:index_page)[:end_date]
          %th{data: {align: 'center', sortable: "true", field: "study_cost", formatter: "cents_to_dollars"}}= t(:index_page)[:study_cost]
          %th{data: {align: 'center', sortable: "true", field: "stored_percent_subsidy", formatter: "number_to_percent"}}= t(:index_page)[:subsidy_amount]
          %th{data: {align: 'center', sortable: "true", field: "subsidy_committed"}}= t(:index_page)[:subsidy_committed]
          %th{data: {align: 'left', sortable: "true", field: "subsidy_expended"}}= t(:index_page)[:subsidy_expended]

- content_for :nav_buttons do
  %li= button_to "Task List", "#", class: "btn btn-primary navbar-btn"
  %li= button_to "Billing/Auditing Report", "#", class: "btn btn-primary navbar-btn"
