#protocols_index
  .row
    .col-md-12= render 'protocols'

- content_for :nav_buttons do
  %li
    = button_to tasks_path, method: :get, class: "btn btn-primary navbar-btn" do
      Task List
  %li= button_to "Billing/Auditing Report", "#", class: "btn btn-primary navbar-btn"
