// Example of overriding bootstrap defaults
// $link-color: #FF69d6

@import "bootstrap-sprockets"
@import "bootstrap"
@import "bootstrap-select"
@import "bootstrap-table"
@import "bootstrap-table-custom"
@import "bootstrap-datetimepicker"
@import "nprogress"
@import "animation"
@import "bootstrap-multiselect"

@import "nav"
@import "protocols"
@import "participants"
@import "tasks"
@import "notifications"
@import "study_schedule"
@import "study_level_activities"

.opacity50
  opacity: 0.5

.status_select
  margin-left: -200px

.glyphicon
  cursor: pointer
  top: 2px

#footer
  margin: 20px 0px

.slide-toggle-hidden
  display: none

/************Main Layout Styling************/
.header
  background-color: #113967
  padding: 13px 0
  vertical-align: center

  > div:first-child
    padding-top: 15px

  #logo_left
    margin-top: 17px

/************Table Styling************/
table.custom_striped
  thead th
    background-color: #113967
    color: white
    font-size: 1.1em
    padding: 5px 0px
    border-radius: 0px !important

  tbody tr:nth-child(2n),
  tbody tr:nth-child(2n):hover
    background-color: #90B9CD
    color: white
  tbody
    tr:hover
      background-color: #f9f9f9
      cursor: pointer
    td[colspan='8']:hover
      cursor: auto

table.custom_striped_financial
  thead th
    background-color: #2C9A4D
    color: white
    font-size: 1.1em
    padding: 5px 0px
    border-radius: 0px

  tbody tr:nth-child(2n),
  tbody tr:nth-child(2n):hover
    background-color: #2C9A4D
    color: white
  tbody
    tr:hover
      background-color: #f9f9f9
      cursor: pointer

table.custom_striped.details
  th
    padding: 0px
  tbody tr:hover
    cursor: auto
    background: none

/************Reports page styling************/
//Table styling
#reports_index
  table.custom_striped
    tbody tr:hover
      cursor: auto

/************Details Table Styling (Notes, Documents, Participant Details)************/
.details-table
  padding: 15px 0px 15px 0px
  height: 400px
  overflow: scroll

  .details-header > div
    background: #113967
    padding: 10px 10px 10px 10px
    color: white
    border-right: 1px solid white
    &:last-child
      border: 0px

  .detail
    padding: 1px 10px 1px 10px
    overflow: hidden

    .field
      font-weight: bold

  .detail:nth-child(2n),
  .detail:nth-child(2n):hover
    background-color: #90B9CD
    color: white

td.truncate
  max-width: 0

.truncate
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

div.tooltip-inner
  max-width: 800px

@import "customize"
