/************Participant and Service Calendar Styling************/

.calendar
  .row.header > div
    border-right: 1px solid white
    padding-top: 50px
    padding-bottom: 48px
    &:last-child
      border: 0px

  .row.header > div.col-xs-6
    padding-top: 0px
    padding-bottom: 0px
    .row > div
      padding-top: 7px
      padding-bottom: 8px

  .row.visit_groups
    background: #113967
    color: white
    .visit_groups > div


  .row.visit_group_day_windows
    border-top: 1px solid white
  .visit_groups > div
    border-right: 1px solid white
    &:last-child
      border: 0px

  .visit_name_display span input
    width: 85%
    display: inline
    padding: 6px 4px

  .header
    background: #113967
    padding: 0px
    height: auto
    color: white
    input,
    select
      color: black

  .row.line_item
    border-top: 1px solid #ababab
    padding: 4px 0px
  .arm-name
    background-color: #416185
    color: white
    padding: 5px 0px
  .core
    // background-color: #90b9cd
    background-color: #ababab
  .scrolling-div
    overflow: auto
    max-height: 250px !important
  .shorter_text
    width: 65px
  .even_shorter_text
    width: 25px
    padding: 0px 2px
  .visit
    margin-top: 6px