body.participants

  &.participants-show

    #completed-appointments-table
      thead
        background-color: #113967
        color: #fff

    #appointment_select
      padding: 10px 0px
      span
        font-size: 16px

    .start-col
      padding-bottom: 10px
      .btn
        float: left

    .complete-col
      padding-bottom: 10px
      .btn
        float: right

    .calendar
      padding-bottom: 20px

      table.cores

        & > thead
          background-color: #113967

          th
            text-align: center
            color: #fff
            padding: 2em 0

        td, th
          text-align: center
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis

          &.title
            padding-left: 0.5em
            text-align: left
            background-color: #ccc

          &.name
            vertical-align: middle
            width: 17%

          &.r-t
            width: 10%

          &.status
            width: 20%

          &.followup, &.completed-date
            width: 18%

          &.completed-date
            vertical-align: middle

          &.notes
            width: 9%

          &.remove
            width: 8%

        & > tbody

          & > tr > td
            padding: 0

          td

            &.title
              font-weight: bold

            &.name
              padding-left: 0.5em
              text-align: left

