// Copyright © 2011-2016 MUSC Foundation for Research Development~
// All rights reserved.~

// Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

// 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

// 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
// disclaimer in the documentation and/or other materials provided with the distribution.~

// 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
// derived from this software without specific prior written permission.~

// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
// BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
// SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
// DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
// INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
// TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

body.participants

  &.participants-show

    //Dashboard Styling
    .dashboard_link
      background-color: #2E6DA4
      border-radius: 5px
      color: white
      font-size: 1.6em
      margin: 15px auto 0px
      padding: 2px
      text-align: center
      width: auto

    #start-date-label,
    #completed-date-label
      text-align: left
      width: auto

    // Auto overflow div containing Complete Visit button
    // so that when the button is disabled, an onclick
    // listener attached to the div will fire when user
    // attempts to click button. Without overflow, div
    // has a height of 0px, and won't receive clicks.
    .completed_date_btn
      overflow: auto

    #remove_completed_date_button
      padding-right: 0px

    .complete-all-container,
    .incomplete-all-container
      display: inline-block

    #completed-appointments-table
      thead
        background-color: #113967
        color: #fff

    .appointment-select-container
      padding: 10px 0px
      span
        font-size: 16px

    .custom-visit-container
      padding-bottom: 10px
      padding-top: 6px

    .start-col
      padding-bottom: 10px
      .btn
        float: left

    .complete-col
      padding-bottom: 10px
      .btn
        float: right

    .calendar
      padding-bottom: 20px

      .core
        padding-bottom: 25px

        td
          text-align: center

        .panel
          margin: 0

          .panel-heading

            background-image: -webkit-linear-gradient(top,#EFEFEF 0,#CECECE 100%)
            background-image: -o-linear-gradient(top,#EFEFEF 0,#CECECE 100%)
            background-image: -webkit-gradient(linear,left top,left bottom,from(#EFEFEF),to(#CECECE))
            background-image: linear-gradient(to bottom,#EFEFEF 0,#CECECE 100%)
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffEFEFEF', endColorstr='#ffCECECE', GradientType=0)
            background-repeat: repeat-x

            h3
              font-weight: 500
              font-size: 18px
              margin: 8px

            .align-select-menu
              padding-left: 20px

              button
                &.dropdown-toggle
                  width: 226px
                .caret
                  margin-left: 90px

          .panel-body
            padding: 0

            .procedures
              padding: 0
              margin: 0

              th
                border-bottom: 2px #888 solid
                text-align: center
                padding: 1em 0

                &.name
                  vertical-align: middle
                  word-wrap: break-word
                  width: 13%

                &.r-t, &.billing
                  width: 5%

                &.status
                  width: 17%

                &.followup, &.completed-date
                  width: 13%

                &.performed-by
                  width: 12%

                &.notes
                  width: 8%

                &.remove
                  width: 8%

              tr
                &.procedure
                  td
                    &.billing
                      .bootstrap-select
                        .btn 
                          padding-right: 20px

                &.procedure-group

                  background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%)
                  background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%)
                  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8))
                  background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%)
                  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0)
                  background-repeat: repeat-x

                  td
                    text-align: left

                  .glyphicon-chevron-right
                    top: 1px

                  .glyphicon-chevron-down
                    top: 2px
                    left: 1px

                td

                  &.name
                    text-align: left

                    &.muted
                      color: rgba(119, 119, 119, 0.49)
