body.protocols

  &.protocols-index

    .fixed-table-toolbar .columns label
      padding: 6px 12px
      clear: right

  &.protocols-show

    .fixed-table-container.protocol
      margin-bottom: 20px

    #study_schedule_buttons
      .row
        margin-top: 20px
      .col-md-4
        font-size: 20px
        div
          margin-top: 5px

    .modal-dialog
      .scrolling_div
        overflow: auto
        max-height: 250px


