/************REPORTS STYLING************/

//TABLE STYLING
#reports_index
  table.custom_striped
    tbody tr:hover
      cursor: auto

//MODAL STYLING
#organization_select + .btn-group
  .multiselect 
    text-align: left

  .multiselect b.caret 
    float: right
    margin-top: 10px

.dropdown-glyphicon
  left: 50px
