.study_level_activities_header
  height: 50px
  background: #113967
  color: white
  border-right: 1px solid white

  .col-xs-1, .col-xs-2
    padding-top: 5px

.study_level_activities_header.fulfillments
  margin-top: 5px