%tr.core{data: {core: {id: core_id}}}
  %td{colspan: 7}
    %table.table.procedures
      %thead
        %th.title{colspan: 7}
          = "#{procedures.first.sparc_core_name}"
      %tbody
        = render partial: 'appointments/procedure', collection: procedures, as: :procedure
