.row.core{data: {core: {id: core_id}}}
  .col-xs-12
    .row.core-title
      .col-xs-12
        = "Core: #{procedures.first.sparc_core_name}"
    .row.procedures
      .col-xs-12
        = render partial: 'appointments/procedure', collection: procedures, as: :procedure
