.row
  .col-md-12
    %h4.pull-right.indications_header= "Visit Indications"
.row
  .col-md-12
    %select.selectpicker.pull-right#visit_indications{multiple: "", title: "Please Select"}
      %option= "An option"
      %option= "Another option"