%label= t(:appointment)[:visit_type]
%select#appointment_content_indications.selectpicker{title: "Select if Applicable"}
  %option{value: ""} Select if Applicable
  %option{value: "Lab Only"} Lab Only
  %option{value: "Space Only"} Space Only
