.col-md-4
  = link_to image_tag("sctr_header.jpg", height: '75', class: 'center-block'),
    "http://sctr.musc.edu"
.col-md-4
  = image_tag("sparc_fulfillment_header.jpg", height: '75',
    class: 'center-block')
.col-md-4
  = link_to image_tag("musc_header.jpg", height: '75', class: 'center-block'),
    "http://www.musc.edu"
