.col-md-3
  = link_to image_tag("sctr_header.jpg", height: '110', class: 'sctr-header'),
    "http://sctr.musc.edu"
.col-md-6
  = link_to image_tag("sparc_fulfillment_header.jpg", height: '110',
    class: 'center-block fulfillment-header'), root_path
.col-md-3
  = link_to image_tag("musc_header.jpg", height: '110', class: 'musc-header'),
    "http://www.musc.edu"
