.navbar.navbar-default
  .container
    - if user_signed_in?
      %p.navbar-text= current_user.email
      %ul.nav.navbar-nav
        %li
          = button_to destroy_user_session_path, method: :delete, class: "btn btn-danger navbar-btn" do
            %span.glyphicon.glyphicon-log-out
            Sign out
      .navbar-right
        %ul.nav.navbar-nav
          %li
            = button_to root_path, method: :get, class: "btn btn-primary navbar-btn" do
              %span.glyphicon.glyphicon-home{"aria-hidden" => "true"}
              Home
          = yield :nav_buttons
