- visit_groups.each_with_index do |visit_group, index|
  .col-xs-2.visit_name{:data_visit_group_id => visit_group.id}= visit_group.name
- (visit_groups.size...Visit.per_page).each do |index|
  .col-xs-2{class: "visit_group_#{index}"}
    &nbsp
    .row
      .col-xs-12 &nbsp

